<app-breadcrumb [title]="'Collection'" [breadcrumb]="'Collection'"></app-breadcrumb>
<!--section start-->
<section class="collection section-b-space">
    <div class="container">
        <div class="row partition-collection">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/1.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p> 


                 

                                I am a seasoned **Full Stack Developer** and **Information Technology Engineer** with over nine years of
                                experience in creating scalable, high-performance applications. With deep expertise in **Angular, NodeJS,
                                ExpressJS, MongoDB, Java Spring**, and **Oracle**, I’m skilled in building both the front-end and back-end
                                systems that make for seamless, engaging user experiences across web and mobile platforms.
                      
                                One of my most impactful projects is **Top Spots Dubai**, a comprehensive platform designed to enhance tourism
                                and reservation services in Dubai. As the lead full-stack developer, I contributed across the entire
                                development lifecycle, from initial architecture to final deployment. I implemented performance enhancements
                                that improved site speed by 65%, significantly boosting user engagement and SEO. Additionally, I integrated
                                third-party APIs, such as N-Genius for payment processing and Google Maps for location-based services,
                                allowing users to easily discover and book experiences around Dubai. The project required extensive
                                optimization to ensure smooth functionality across all devices and platforms, showcasing my dedication to
                                technical excellence and user-focused design.
                      
                                Another major accomplishment is **ShoofBook**, a real-time classified advertising platform that I developed
                                independently from concept to launch. Designed to support high volumes of user-generated content, ShoofBook
                                allows users to post ads, browse categories, and manage profiles effortlessly. I focused heavily on data
                                efficiency by utilizing **MongoDB** for storage and **Redis caching** to minimize load times, ensuring the
                                platform could scale as user activity grew. I also developed a custom search algorithm, enhancing the accuracy
                                and speed of search results so users can quickly find exactly what they’re looking for. ShoofBook reflects my
                                ability to take a project from a simple idea to a fully functional, dynamic platform that meets users' needs
                                effectively.
                      
                                In addition to these projects, I’ve contributed to other large-scale applications, such as **UberME**, a
                                streamlined car rental platform. In UberME, I developed an advanced admin dashboard that automates the booking
                                process, includes a complex filtering mechanism, and supports location-based searches, giving users real-time
                                access to car rentals nearby. Another key project, **ECSC**, is a government platform that enables citizens to
                                manage essential services like licensing and passport renewals online. As a part of a 12-member development
                                team, I focused on creating a secure, efficient back end using **ExpressJS**, **Java Spring**, and **Oracle**,
                                ensuring the platform’s compliance with strict government standards.
                      
                                With a strong foundation in **algorithms** and **data structures**, I am driven by a passion for crafting
                                solutions that improve business efficiency and user experience. I enjoy tackling complex technical challenges
                                and continuously strive to enhance application performance, whether by optimizing front-end interfaces or
                                managing large datasets on the back end.
                      
                                Outside of development, I am an avid reader (favorites include *The Song of Ice and Fire*, *The Hunchback of
                                Notre-Dame*, and *The Toilers of the Sea*), a gardening enthusiast, and a video game lover. I am always
                                exploring ways to connect technology with creativity, bringing this curiosity and dedication to every project
                                I undertake.
                             


                        </p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/2.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/3.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/4.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row partition-collection section-t-space">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/5.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/6.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/7.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/8.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->