<app-header-one [sticky]="true"></app-header-one>

<!-- Home slider start-->
<section class="p-0">
  <!--  <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="''" [buttonText]="'HOME.BTN_TXT'|translate"></app-slider> -->
</section>
<!-- Home slider End -->
<!-- Product slider start-->
<div class="title1 section-t-space">
  <h4>

    <!--  {{ 'HOME.FOUND' | translate }} --> My Foundation
  </h4>
  <h2 class="title-inner1">
    {{'HOME.GOAL.TITLE'| translate}}
  </h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="product-para">
        <p class="text-center">
          <!--  {{'HOME.GOAL.DESC'| translate}} -->
          I’m Yasine Tokan, an Information Technology Engineer specializing in Software Engineering and Data Structures,
          with over nine years of experience as a Full Stack Developer. My background enables me to create high-impact
          web and mobile applications that drive business success, focusing on scalable, responsive solutions using
          modern frameworks like Angular, NodeJS, and Flutter. I’m passionate about enhancing user experience and
          optimizing performance through advanced API integrations, real-time communication, and microservices
          architectures.

          In addition to my technical expertise, I have completed a business training camp, equipping me with a strong
          understanding of how to align technology solutions with strategic business goals. Throughout my career, I’ve
          contributed to projects at <strong> Top Spots FZE, ShoofBook LLC, and TechnoWave</strong>, collaborating
          within agile teams to
          deliver solutions that meet the needs of clients and users alike. Continuously expanding my technical skill
          set, I stay updated with industry trends to bring innovative and effective solutions to every project I
          undertake.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- services start-->
<div class="container">
  <section class="service border-section small-section">
    <app-services></app-services>
  </section>
</div>
<!-- collection banner start-->
<section class="pb-0">
  <div class="container">
    <div class="row partition2">
      <div class="col-md-6" *ngFor="let collection of collections">
        <a [routerLink]="['/pages/projects']">
          <div class="collection-banner p-right text-center">
            <img [src]="collection.image" class="img-fluid" alt="collection-banner" style="max-height: 300px;" />
            <div class="contain-banner">
              <!--   <div>
                <h4>{{ collection.save }}</h4>
                <h3>{{ collection.title }}</h3>
              </div> -->
            </div>
          </div>
        </a>
        <h3 style="text-align: center;">{{ collection.title }}</h3>
        <p> </p>
      </div>
    </div>
  </div>
</section>
<!-- collection banner End -->



<!-- Product slider End -->

<!-- Parallax banner start-->
<!-- <section class="p-0">
  <div class="full-banner parallax-banner1 parallax text-center p-left"
    [ngStyle]="{ 'background-image': 'url(assets/images/parallax/areaguids.jpg)' }">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="banner-contain">
            
            <h3>
              {{'HOME.BEST_DEAL'| translate}}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Parallax banner End -->

<!-- Tab product start-->
<!-- <div class="title1 section-t-space">
  <h4>exclusive products</h4>
  <h2 class="title-inner1">special products</h2>
</div>
<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col theme-tab">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="tabs tab-title justify-content-center nav nav-pills">
          <li *ngFor="let collection of productCollections" [ngbNavItem]="collection">
            <a ngbNavLink>
              {{ collection }}
            </a>
            <ng-template ngbNavContent>
              <div class="no-slider row">
                <ng-container *ngFor="let product of getCollectionProducts(collection) | slice : 0 : 8">
                  <div class="product-box">
                    <app-product-box-one
                      [product]="product"
                      [currency]="productService?.Currency"
                    ></app-product-box-one>
                  </div>
                </ng-container>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</section> -->
<!-- Tab product End -->


<!-- services End -->

<!-- blog section start-->
<!-- <section class="blog p-t-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title1 section-t-space">
          <h4>Recent Story</h4>
          <h2 class="title-inner1">from the blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-blog [blogs]="blog"></app-blog>
      </div>
    </div>
  </div>
</section> -->
<!-- blog section End -->

<!--  logo section start-->
<!-- <section class="section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-logo [logos]="logo"></app-logo>
      </div>
    </div>
  </div>
</section> -->
<!--  logo section End-->

<!-- <app-newsletter></app-newsletter> -->
<app-footer-one></app-footer-one>