<div class="row">
  <div class="col-md-4 service-block">
    <div class="media">
      <div>
        <i class="pi pi-chart-line spservice"></i>
      </div>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4><!-- {{ 'SERVICES.S5.TITLE' | translate }} --> Performance Optimization</h4>
        <p><!-- {{ 'SERVICES.S5.DESC' | translate }} --> Enhance Site Speed & Efficiency. By optimizing backend systems, implementing best practices, and using effective debugging, I help boost application speed and performance for a smooth user experience.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 service-block">
    <div class="media">
      <i class="pi pi-globe spservice"></i>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4><!-- {{ 'SERVICES.S2.TITLE' | translate }} --> Custom Web Development</h4>
        <p><!-- {{ 'SERVICES.S2.DESC' | translate }} --> Bring Ideas to Life with High-Quality Web Solutions. I develop dynamic, responsive websites tailored to clients' needs, using modern frameworks like Angular and NodeJS to enhance user experience and functionality.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 service-block">
    <div class="media">
      <i class="pi pi-link spservice"></i>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4><!-- {{ 'SERVICES.S3.TITLE' | translate }} --> API Integrations & Automation</h4>
        <p><!-- {{ 'SERVICES.S3.DESC' | translate }} --> Seamlessly Integrate Essential Services. From payment gateways to AI frameworks like OpenAI, I provide advanced API integrations that streamline operations and add value to digital platforms.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 service-block">
    <div class="media">
      <i class="pi pi-android spservice"></i>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4><!-- {{ 'SERVICES.S4.TITLE' | translate }} --> Mobile App Development</h4>
        <p><!-- {{ 'SERVICES.S4.DESC' | translate }} --> Deliver Cross-Platform Mobile Experiences. I design and develop mobile applications using Flutter, Ionic, and NativeScript, ensuring a seamless experience across devices for maximum reach and impact.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 service-block">
    <div class="media">
      <i class="pi pi-slack spservice"></i>
    


      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4><!-- {{ 'SERVICES.S1.TITLE' | translate }} --> Technical Mentorship & Training</h4>
        <p><!-- {{ 'SERVICES.S1.DESC' | translate }} --> Empower Teams with Knowledge Sharing. With a background in teaching web development, I offer mentorship and training to junior developers, helping them grow their skills and excel in projects.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 service-block">
    <div class="media">
      <i class="pi pi-cloud spservice iconSize"></i>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4><!-- {{ 'SERVICES.S6.TITLE' | translate }} -->  Real-Time Communication Solutions</h4>
        <p><!-- {{ 'SERVICES.S6.DESC' | translate }} --> Implement Real-Time Features with WebSockets and MQTT. Leveraging WebSockets and MQTT, I create interactive applications that respond instantly, providing a more engaging and responsive user experience.</p>
      </div>
    </div>
  </div>

</div>
