<div class="row">
  <div class="col-md-4 service-block">
    <div class="media">
      <div>
        <i class="pi pi-home spservice"></i>
      </div>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4>{{ 'SERVICES.S1.TITLE' | translate }}</h4>
        <p>{{ 'SERVICES.S1.DESC' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 service-block">
    <div class="media">
      <i class="pi pi-briefcase spservice"></i>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4>{{ 'SERVICES.S2.TITLE' | translate }}</h4>
        <p>{{ 'SERVICES.S2.DESC' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 service-block">
    <div class="media">
      <i class="pi pi-chart-line spservice"></i>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4>{{ 'SERVICES.S3.TITLE' | translate }}</h4>
        <p>{{ 'SERVICES.S3.DESC' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 service-block">
    <div class="media">
      <i class="pi pi-building spservice"></i>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4>{{ 'SERVICES.S4.TITLE' | translate }}</h4>
        <p>{{ 'SERVICES.S4.DESC' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 service-block">
    <div class="media">
      <i class="pi pi-search spservice"></i>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4>{{ 'SERVICES.S5.TITLE' | translate }}</h4>
        <p>{{ 'SERVICES.S5.DESC' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 service-block">
    <div class="media">
      <i class="pi pi-user spservice"></i>
      <div class="media-body" [ngClass]="{ mr2: lang == 'ar' }">
        <h4>{{ 'SERVICES.S6.TITLE' | translate }}</h4>
        <p>{{ 'SERVICES.S6.DESC' | translate }}</p>
      </div>
    </div>
  </div>

</div>
