<p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
        <span
            class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1">
            <i [class]="event.icon"></i>
        </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
        <p-card [header]="event.status" [subheader]="event.date">
            <!--   <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" style="height: 100px;"/>
            </ng-template> -->
            <a [href]="event.link" style="text-decoration: none;" target="_blank">
                <p style="font-weight: 600; color: gray;   "> {{event.location}}</p>
            </a>
            <!--   <img *ngIf="event.image" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + event.image"
                [alt]="event.name" width="200" class="shadow-2" /> -->
            <p>
                {{event.discreption}}
            </p>
            <p-button label="Learn more" (onClick)="toCV()"></p-button>
            <!--     <p-button label="Read more" /> -->
        </p-card>
    </ng-template>
</p-timeline>