<div class="icon-nav">
  <ul>
   <!--  <li class="onhover-div">
      <a href="mailto:yasineMohammadTokan@gmail.com">
        <i class="pi pi-envelope cl-de" aria-hidden="true"></i>

      </a>
    </li >
    <li class="onhover-div">
      <a href="https://www.linkedin.com/in/yasine-tokan-733a55147/">
        <i class="pi pi-linkedin cl-de" aria-hidden="true"></i>

      </a>
    </li> -->

    <li class="onhover-div mobile-setting">
      <a href="mailto:yasineMohammadTokan@gmail.com">
        <i class="pi pi-envelope cl-de" aria-hidden="true"></i>

      </a>
     <!--  <div> 
        <i class="ti-settings"></i>
      </div> -->
     <!--  <div class="show-div setting">
        <h6>{{'SETTINGS.LANG'|translate}}</h6>
        <ul>
          <li *ngFor="let language of languages">
            <a href="javascript:void(0)" (click)="changeLanguage(language.code)">{{ language.name }}</a>
          </li>
        </ul>

      </div> -->
    </li>
  </ul>
</div>