<!-- <app-breadcrumb [title]="'About-us'" [breadcrumb]="'About-us'"></app-breadcrumb> -->
<!-- about section start -->
<section class="about-page section-b-space">
  <div class="container">
    <div class="row">
    
      <div class="col-sm-12">
        <h4>
          <!--   {{ 'ABOUT.INTRO.TITLE' | translate }} --> Where Innovation Meets Precision in Full Stack Development
        </h4>


        <p>


          I am a seasoned <strong>Full Stack Developer</strong> and <strong>Information Technology Engineer</strong>
          with over nine years of
          experience in creating scalable, high-performance applications. With deep expertise in <strong>Angular,
            NodeJS,
            ExpressJS, MongoDB, Java Spring</strong>, and <strong>Oracle</strong>, I’m skilled in building both the
          front-end and back-end
          systems that make for seamless, engaging user experiences across web and mobile platforms.

          One of my most impactful projects is <strong>Top Spots Dubai</strong>, a comprehensive platform designed to
          enhance tourism
          and reservation services in Dubai. As the lead full-stack developer, I contributed across the entire
          development lifecycle, from initial architecture to final deployment. I implemented performance enhancements
          that improved site speed by 65%, significantly boosting user engagement and SEO. Additionally, I integrated
          third-party APIs, such as N-Genius for payment processing and Google Maps for location-based services,
          allowing users to easily discover and book experiences around Dubai. The project required extensive
          optimization to ensure smooth functionality across all devices and platforms, showcasing my dedication to
          technical excellence and user-focused design.

          Another major accomplishment is <strong>ShoofBook</strong>, a real-time classified advertising platform that I
          developed
          independently from concept to launch. Designed to support high volumes of user-generated content, ShoofBook
          allows users to post ads, browse categories, and manage profiles effortlessly. I focused heavily on data
          efficiency by utilizing <strong>MongoDB</strong> for storage and <strong>Redis caching</strong> to minimize
          load times, ensuring the
          platform could scale as user activity grew. I also developed a custom search algorithm, enhancing the accuracy
          and speed of search results so users can quickly find exactly what they’re looking for. ShoofBook reflects my
          ability to take a project from a simple idea to a fully functional, dynamic platform that meets users' needs
          effectively.

          In addition to these projects, I’ve contributed to other large-scale applications, such as
          <strong>UberME</strong>, a
          streamlined car rental platform. In UberME, I developed an advanced admin dashboard that automates the booking
          process, includes a complex filtering mechanism, and supports location-based searches, giving users real-time
          access to car rentals nearby. Another key project, <strong>ECSC</strong>, is a government platform that
          enables citizens to
          manage essential services like licensing and passport renewals online. As a part of a 12-member development
          team, I focused on creating a secure, efficient back end using <strong>ExpressJS</strong>, <strong>Java
            Spring</strong>, and <strong>Oracle</strong>,
          ensuring the platform’s compliance with strict government standards.

          With a strong foundation in <strong>algorithms</strong> and <strong>data structures</strong>, I am driven by a
          passion for crafting
          solutions that improve business efficiency and user experience. I enjoy tackling complex technical challenges
          and continuously strive to enhance application performance, whether by optimizing front-end interfaces or
          managing large datasets on the back end.

          Outside of development, I am an avid reader (favorites include <i>The Song of Ice and Fire</i>, <i>The
            Hunchback of
            Notre-Dame</i>, and <i>The Toilers of the Sea</i>), a gardening enthusiast, and a video game lover. I am
          always
          exploring ways to connect technology with creativity, bringing this curiosity and dedication to
          every project
          I undertake.

        </p>
        <br />
        <!--    <p>
          {{ 'ABOUT.INTRO.P2' | translate }}
        </p>
        <br />
        <p>
          {{ 'ABOUT.INTRO.P3' | translate }}
        </p> -->
      </div>
    </div>


    <div class="col-lg-12">
      <div class="banner-section">
        <img src="assets/images/APX/about-me1.png" class="img-fluid" alt="about-us" />
      </div>
    </div>
  </div>
</section>
<!-- about section end -->
<!--Testimonial start-->